easy-batch-xml/src/test/resources/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="person" type="personType"/>
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="birthDate"/>
      <xs:element type="xs:string" name="married"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>