easybatch-tutorials/src/main/resources/greetings.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="greeting">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="sequence" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>