easybatch-xml/src/test/resources/foo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="foo" type="fooType"/>

  <xs:complexType name="fooType">
    <xs:sequence>
      <xs:element type="stringMaxSize5" name="name"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="stringMaxSize5">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>